:root {
    --bg-img1: url("https://ingether.github.io/TGD-CSS/gif/ok56.gif");
    --bg-img2: url("https://ingether.github.io/TGD-CSS/gif/ace56.gif");
    --bg-img3: url("https://ingether.github.io/TGD-CSS/gif/appear56.gif");
    --bg-img4: url("https://ingether.github.io/TGD-CSS/gif/clap56.gif");
    --bg-img5: url("https://ingether.github.io/TGD-CSS/gif/salute56.gif");
    --bg-img6: url("https://ingether.github.io/TGD-CSS/gif/boq56.gif");
    --bg-img7: url("https://ingether.github.io/TGD-CSS/gif/taebo56.gif");
    --bg-img8: url("https://ingether.github.io/TGD-CSS/gif/sg56.gif");
    --bg-img8: url("https://ingether.github.io/TGD-CSS/gif/sexy56.gif");
    --size: 50px !important;
}

/** 글작성 후 보이는 이미지 수정**/ 
.fr-emoticon.fr-deletable > img[alt=JKanStyle]{ 
    width: var(--size);
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img1);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=OptimizePrime]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img2);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=StoneLightning]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img3);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=TheRinger]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img4);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=RedCoat]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img5);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=Kappa]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img6);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=JonCarnage]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img7);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=BCWarrior]{ 
    width: var(--size); 
    height: var(--size); 
    padding-left: var(--size);
    background-image: var(--bg-img8);
    background-size: 100%; 
}
.fr-emoticon.fr-deletable > img[alt=GingerPower]{ 
    width: var(--size);
    height: var(--size);
    padding-left: var(--size);
    background-image: var(--bg-img8);
    background-size: 100%; 
}