/*
** Copyright(c)2018 All rights reserved by nanajam777
** This script is designed for highlighting specific articles.
** Ozic Woojeonging
*/

/* 피드 게시글 목록 */
/* [a]에 ,#article-lists > #article-list-row-[트게더글번호] 추가 기재해서 사용 */



/* 인기게시글 별 투명도 0, 백그라운드 이미지 호출, 트랜스폼 애님 */
span.a-badge i.fa.fa-star { opacity: 100; color:rgba(0,0,0,0); 
    vertical-align: 2px !important;
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background:url(https://ingether.github.io/TGD-CSS/Images/dol15.png);
    animation: infinite rot360 1.2s;
}

/* 잉게더 특정 글쓴이 이름 컬러 애님*/
/*
#article-list > #article-list-row-7194819 > .item > .list-title > .list-writer.logged > span {
    animation: infinite ingether 1s;
}
*/

/*
** 글쓴이 닉네임 컬러
#article-list > .article-list-row > .item > .list-title > .list-writer.logged > span {
    color : #004e83;
}
*/

/* 우정위키 백그라운드 컬러 */
#article-list > #article-list-row-12061045 {
    background-color: #e0f8d7;
}


@keyframes ingether {
    0% { color: #6441a5; }
    40% { color: #0099ff; }
    100% { color: #6441a5; }
}

@keyframes AnimFeed {
    0% { background-color: #ffffff; }
    40% { background-color: #d4eeff; }
    100% { background-color: #ffffff; }
}

@keyframes rot360 { from { transform: rotate(360deg);} to { transform: rotate(0deg);} }

/*
#content-area, 
body, 
footer	
{ background: #d4eeff !important; }

#main .menu-wrapper>.header, 
#main .menu-wrapper>.header>a		
{	color: #eee !important; }

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover
{	
    border-color: #ddd !important; 
    color: #ddd !important; 
    background-color: #1f6fe6 !important;
}
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover
{	
    background-color: #1f6fe6 !important;
    border-color: #1f6fe6 !important; 
}
*/