/*
** Support : Discord JEON#3534
** Copyright(c)2018 All rights reserved by nanajam777
** This script is designed for highlighting specific articles.
** Ozic Woojeonging
*/

/* 피드 게시글 목록 */
/* [a]에 ,#article-lists > #article-list-row-[트게더글번호] 추가 기재해서 사용 */

#article-list > #article-list-row-3109331,
#article-list > #article-list-row-3137467,
#article-list > #article-list-row-3181863
/* [a] */
{ Animation: infinite AnimFeed 2s; }

@keyframes AnimFeed {
    0% { background-color: #ffffff; }
    40% { background-color: #d4eeff; }
    100% { background-color: #ffffff; }
}