/*
** Support : Discord J4#3534
** Copyright(c)2018 All rights reserved by nanajam777
** This script is designed for highlighting specific articles.
** Ozic Woojeonging
*/

/* 피드 게시글 목록 */
/* [a]에 ,#article-lists > #article-list-row-[트게더글번호] 추가 기재해서 사용 */

/*
#article-list > #article-list-row-3109331,
#article-list > #article-list-row-3137467,
#article-list > #article-list-row-3181863,
#article-list > #article-list-row-3618934

{ Animation: infinite AnimFeed 2s; }
*/

/*
#article-list > #article-list-row-3245130 span.a-badge i.fa.fa-star,
#article-list > #article-list-row-3365667 span.a-badge i.fa.fa-star {
    animation: infinite rainbowLink 1s;
}
*/

/* 3706633 */

/* 
걸려서 뺌
#article-list-row-3706633:hover{
	background-image:url(https://ingether.github.io/TGD-CSS/Images/bar_01.png)!important;
	background-position: 50% 50%!important;
}
*/

/* 3942904 */
#article-list > #article-list-row-3942904 > .item > .list-title > .list-writer.logged > span {
    animation: infinite ingether 1s;
}

@keyframes ingether {
    0% { color: #6441a5; }
    40% { color: #0099ff; }
    100% { color: #6441a5; }
}

@keyframes AnimFeed {
    0% { background-color: #ffffff; }
    40% { background-color: #d4eeff; }
    100% { background-color: #ffffff; }
}
/*
#content-area, 
body, 
footer	
{ background: #d4eeff !important; }

#main .menu-wrapper>.header, 
#main .menu-wrapper>.header>a		
{	color: #eee !important; }

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover
{	
    border-color: #ddd !important; 
    color: #ddd !important; 
    background-color: #1f6fe6 !important;
}
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover
{	
    background-color: #1f6fe6 !important;
    border-color: #1f6fe6 !important; 
}
*/