/* 
** Support : Discord JEON#3534 
** Github : http://github.com/Ingether/TGD-CSS/
** Copyright(c)2018 All rights reserved by nanajam777
*/

/* 
** This script is designed for mobile devices. 
** Current version : v1.0m (WIP)
*/

#main-content, body, footer {
  background: #d4eeff !important;
}

#article-list > .article-list-row.notice {
  background: #d4eeff !important;
}

header > #header-area > a > h1 {
    background: url(https://ingether.github.com/TGD-CSS/Images/logo.png) no-repeat;
    background-size: 90px 32px;
}

header {
  border-bottom-color: #0099ff !important;
  background: #d4eeff !important;
}

#header-top-notice strong.notice-badge {
  background: #0099ff !important;
}

#article-list > .article-list-row.notice > .item > a.list-title > .list-writer {
  height: 0px !important;
  opacity: 0 !important;
}

#header-top-notice strong.notice-badge {
    padding-left: 0;
    padding-right: 0;
    margin-right: -2em;
    opacity: 0;
}


#article-list #article-list-category {
  height: 0px;
}

#board-info {
  border-top: 4px solid #0099ff;
  background: #99ccff;
}

#header-top-notice a {
  font-weight: bold;
  color: #0099ff !important;
}

#article-list > .article-list-row > .item > .list-header > span {
  background-color: #0099ff !important;
}

span.a-badge i.fa.fa-info-circle {
  color: red !important;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #0099ff;
    border-color: #0099ff;
}

.pagination > li > a, .pagination > li > span:hover {
  color: #0099ff;
}

.btn-primary {
    animation-duration: 3s; 
    animation-name:  rainbowLinkBG;
    animation-iteration-count: infinite;
}

@keyframes rainbowLinkBG {
    0% { background-color: #ff2a2a; }
    15% { background-color: #ff7a2a; }
    30% { background-color: #ffc52a; }
    45% { background-color: #43ff2a; }
    60% { background-color: #2a89ff; }
    75% { background-color: #202082; }
    90% { background-color: #6b2aff; } 
    100% { background-color: #e82aff; }
}

/* Navigator */

nav#nav > .nav-header {
    background: #0099ff;
}

header > #header-area > #header-search-link {
    color: #0099ff;
}