/* 
** Support : Discord JEON#3534 
** Github : http://github.com/Ingether/TGD-CSS/
** Copyright(c)2018 All rights reserved by nanajam777
*/

/* 
** This script is designed for PC Web Platform. 
** Current version : v1.02 (WIP)
** Changed : 
*** Header Top Bar Padding
*** ColorKeyframes added
*/

/* 메인 로고 변경 */
header .row>div:nth-child(1)>a {
    background-repeat: no-repeat;
    display: block;
    width: 139px;
    height: 50px;
    background-image: url(https://github.com/Ingether/TGD-CSS/blob/master/Images/logo.png?raw=true);
}

/* 기존 로고 투명도 0 */
header .row>div:nth-child(1)>a img {
    opacity: 0;
}

/* 헤더 패딩 감소 */
header #header-bar {
    margin-top: 0.2em;
    margin-bottom: 1em;
    padding-right: 30px;
    padding-left: 30px;
}

/* 돋보기 */
header #right-search-form>#right-search-btn {
    color: #0099ff;
    background: transparent;
    border: none;
    font-size: 1.4em
}

/* 검색창 */
header #right-search-form>input[type=text] {
    position: relative;
    border: 3px solid #0099ff;
    background: #fff;
    font-size: 1.1em;
    padding: 0.3em 0.5em
}

header #header-bar>.row {
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    border-top: 4px solid #0099ff;
    background: #d4eeff;
    border-bottom: 2px solid #ebeae8;
    border-right: 2px solid #ebeae8
}

header #header-bar #header-top-notice strong.notice-badge {
    background: #0099ff;
    padding: 4px 8px;
    color: #fff;
    font-weight: bold
}

#main .menu-wrapper>.header {
    background: #0099ff;
    color: #fff;
    padding: 0.45em 1.4em 0.45em 1em;
    font-weight: bold
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #0099ff;
    border-color: #0099ff;
}

#article-list #article-list-category {
    border-top: 3px solid #0099ff;
    background: #99ccff;
}

#article-list>.article-list-row>.item>.list-header>span {
    background-color: #0099ff;
    color: #fff;
    font-weight: bold;
    padding: 1px 5px;
    font-size: 11px;
    border-radius: 100px
}

#article-list #article-list-category > a {
    display: inline-block;
    padding: 11px 16px;
    background: #d4eeff;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold
}
#article-list #article-list-category > a:hover{
    display: inline-block;
    padding: 11px 16px;
    animation-duration: 1.5s; 
    animation-name:  AquaLinkBG;
    animation-iteration-count: infinite;
    text-decoration: none;
    font-size: 12px;
    font-weight: bold
}

#article-list #article-list-category {
    border-top: 3px solid #0099ff;
    background: #99ccff;
}

#board-info #viewers-area #viewers:before {
    content: "심심한 우애나 ";
    cursor: text;
}
#board-info #viewers-area #viewers:after {
    content:"명";
    cursor : text;
}


/* 공지 배경 세팅 */ 
/* 일괄 단색 */
/*
#article-list > .article-list-row.notice {
    background-color: rgba(0,0,0,.7);
    background-color: #484847;
}
*/

/* 게시물 별 세팅 */
/*
#article-list-row-2820544,#article-list-row-2820544:hover{
	background-image:url(http://puu.sh/z1Bp1/b0107a2714.png)!important;
	background-position: 50% 50%!important;
}
*/

#article-list > #article-list-row-2820544 {
    background-color: #d4eeff;
}
#article-list > #article-list-row-2820544:hover {
    animation-duration: 1.5s; 
    animation-name:  AquaLinkBG;
    animation-iteration-count: infinite;
}

@keyframes rainbowLink {     
    0% { color: #ff2a2a; }
    15% { color: #ff7a2a; }
    30% { color: #ffc52a; }
    45% { color: #43ff2a; }
    60% { color: #2a89ff; }
    75% { color: #202082; }
    90% { color: #6b2aff; } 
    100% { color: #e82aff; }
}
   
@keyframes rainbowLinkBG {
    0% { background-color: #ff2a2a; }
    15% { background-color: #ff7a2a; }
    30% { background-color: #ffc52a; }
    45% { background-color: #43ff2a; }
    60% { background-color: #2a89ff; }
    75% { background-color: #202082; }
    90% { background-color: #6b2aff; } 
    100% { background-color: #e82aff; }
}

@keyframes AquaLinkBG {
    0% { background-color: #d4eeff; }
    40% { background-color: #99ccff; }
    100% { background-color: #d4eeff; }
}